# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
dist/
build/

# Virtual environments
/.venv

# Testing & linting
/.pytest_cache
/.ruff_cache

# Route provider cache
.cache/

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db